.header
  .header__inner
    %i.fas.fa-book
    %i.fas.fa-book-open
.box
  .box-top
    %span picture book
.main
  .main-contents
    .main-contents__top
      .book-box
        .book-box__inner
          .book-image
            = image_tag('https://sociorocketnews.files.wordpress.com/2019/04/abe.jpg?w=640&h=948')
          .book-title
            %h3 Avengers ENDGAME
      .book-box
        .book-box__inner
          .book-image
            = image_tag('https://is5-ssl.mzstatic.com/image/thumb/Video118/v4/c6/4d/c1/c64dc134-525a-85b2-36c0-4fa12a2ba4bc/pr_source.jpg/268x0w.jpg')
          .book-title
            %h3 Guardians of the Galaxy
      .book-box
        .book-box__inner
          .book-image
            = image_tag('https://images-na.ssl-images-amazon.com/images/S/cmx-images-prod/Item/728766/728766._SX360_QL80_TTD_.jpg')
          .book-title
            %h3 Guardians of the Galaxy
      .book-box
        .book-box__inner
          .book-image
            = image_tag('https://ae01.alicdn.com/kf/HTB1icJmXsrrK1Rjy1zeq6xalFXaZ/Guardians-of-the-Galaxy-Marvel-Movie-Poster-Retro-Art-Posters-Home-Room-Decoration-Painting-Wall-stickers.jpg_q50.jpg')
          .book-title
            %h3 Guardians of the Galaxy
    .main-contents__center
      .center-box
        .center-box__left
          .left-image
            = image_tag('http://books.shopro.co.jp/wp-content/uploads/2017/08/1017_%E3%83%9E%E3%82%A4%E3%83%86%E3%82%A3%E3%83%BB%E3%82%BD%E3%83%BC%EF%BC%9A%E3%82%B7%E3%83%BC%E3%82%BA%E3%83%B3%E3%83%AF%E3%83%B3.jpg')
            .left-title THOR
        .book-box-cover
          .book-image
            = image_tag('https://images-na.ssl-images-amazon.com/images/I/61MPQDGHMCL._SL500_.jpg')
          .book-title
            %h3 CALESE OF ASGALD
        .book-box-cover
          .book-image
            = image_tag('https://rr.img.naver.jp/mig?src=http%3A%2F%2Fimgcc.naver.jp%2Fkaze%2Fmission%2FUSER%2F20160615%2F76%2F7729116%2F328%2F342x443xd8a059943b0306e5b6204269.jpg%2F300%2F600&twidth=300&theight=600&qlt=80&res_format=jpg&op=r')
          .book-title
            %h3 CALESE OF ASGALD
    